.app {
  display: flex;
  height: 200px;
  align-items: stretch;
  .half-area {
    margin-top: 50px;
    margin-right: 50px;
    flex: 1;
    .upload-input-label {
      border: 1px solid #eaeaea;
      border-radius: 4px;
      padding: 8px;
      .base-upload-input {
        display: none;
      }
    }

    .img-container {
      height: 300px;
      margin-top: 24px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .img {
        height: 100%;
      }
    }
  }
}